<header class="Header{% if template contains 'index' %} Header--home{% endif %}">
  <div class="Container">
    <div class="Header__nav Header__nav--mobile">
      <div class="Header__mobileNav" data-component="MobileNav"></div>
      <script type="application/json" data-main-menu-content hidden>
        [
          {%- include 'link-list-json' with linklists[section.settings.mobile_menu_primary] -%},
          {%- include 'link-list-json' with linklists[section.settings.mobile_menu_secondary] -%},
          {{ customer.first_name | json }}
        ]
      </script>
    </div>
    <div class="Header__nav Header__nav--primary">
      <div class="Nav Nav--main" role="navigation" data-component="DesktopNav">
        {% include "menu-options" links: linklists[section.settings.main_menu].links , menu: 'main'%}
      </div>
    </div>
    <div class="Header__brand">
      <a href="/" class="logo-image" alt="Back to homepage" aria-label="Home">
        <svg viewBox="0 0 364 87">
          <use xlink:href='#logo'></use>
        </svg>
      </a>
    </div>

    <div class="Header__nav Header__nav--secondary">
      <div class="Nav Nav--utilities">
        <div class="Nav__item">
          <button class="Button btn-search" data-layout="noLayout" type="submit" aria-label="search" data-action="{ target: 'search', type: 'toggle' }">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 490.4 490.4" style="enable-background:new 0 0 490.4 490.4;" xml:space="preserve">
              <g>
                <path d="M484.1,454.796l-110.5-110.6c29.8-36.3,47.6-82.8,47.6-133.4c0-116.3-94.3-210.6-210.6-210.6S0,94.496,0,210.796   s94.3,210.6,210.6,210.6c50.8,0,97.4-18,133.8-48l110.5,110.5c12.9,11.8,25,4.2,29.2,0C492.5,475.596,492.5,463.096,484.1,454.796z    M41.1,210.796c0-93.6,75.9-169.5,169.5-169.5s169.6,75.9,169.6,169.5s-75.9,169.5-169.5,169.5S41.1,304.396,41.1,210.796z"/>
              </g>
              </svg>
          </button>
        </div>
        <div class="Nav__item  MiniCart" data-component="MiniCart" data-logged-in="{{ customer.first_name }}" data-identifier="MiniCartPopup"></div>
      </div>
    </div>
  </div>

  {% include 'search-bar', positioning: 'hidden' %}

</header>

{% schema %}
{
  "name": "Site Header",
  "settings": [
    {
      "type": "link_list",
      "id": "main_menu",
      "label": "Main Menu",
      "default": "main-menu"
    },
    {
      "type": "link_list",
      "id": "mobile_menu_primary",
      "label": "Mobile Menu Primary",
      "default": "main-menu"
    },
    {
      "type": "link_list",
      "id": "mobile_menu_secondary",
      "label": "Mobile Menu Secondary",
      "default": "main-menu"
    }
  ]
}
{% endschema %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ shop.name }}",
  "sameAs": [
    "{{ settings.social_twitter_link }}",
    "{{ settings.social_facebook_link }}",
    "{{ settings.social_pinterest_link }}",
    "{{ settings.social_instagram_link }}",
    "{{ settings.social_tumblr_link }}",
    "{{ settings.social_snapchat_link }}",
    "{{ settings.social_youtube_link }}",
    "{{ settings.social_vimeo_link }}"
  ],
  "url": "{{ shop.url }}{{ page.url }}"
}
</script>

{% if template.name == 'index' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ shop.url }}/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
{% endif %}